
relatorio_internet_v-txt/registro_ping_internet_on.txt
relatorio_internet_v-txt/registro_ping_internet_on.txt
relatorio_internet_v-txt/registro_ping_local_on.txt
relatorio_internet_v-txt/registro_ping_local_on.txt
*.txt
