
relatorio_internet_v-txt/registro_ping_internet_on.txt
relatorio_internet_v-txt/registro_ping_internet_on.txt
relatorio_internet_v-txt/registro_ping_local_on.txt
relatorio_internet_v-txt/registro_ping_local_on.txt
*.txt
relatorio_internet_v-txt/registro_ping_internet_on.txt
relatorio_internet_v-txt/registro_ping_local_on.txt
relatorio_internet_v-txt/registro_ping_local_on.txt
relatorio_internet_v-txt/registro_ping_internet_on.txt
relatorio_internet_v-txt_v2/_status_WAN.log
relatorio_internet_v-txt_v2/_status_LAN.log
relatorio_internet_v-txt_v2/_status_LAN.log
relatorio_internet_v-txt_v2/_status_LAN.log
*.log
relatorio_internet_v-txt_v2/_status_LAN.log
