@charset "UTF-8";


body {
    background-color: #808080 ;
}

main {
    background-color: #6a6a6a;
    border: inset #000000;
    padding-left: 2px 2px 2px 2px;
    border-radius: 50px;
    margin-left: 300px;
    margin-right: 300px;    
    padding: 2px solid #aaa;
}


div.div_data {
    background-color: #ffffff;
    text-align: center;
    padding-left: 2px 2px 2px 2px;
    border: inset #000000;     
    border-radius: 50px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

div.div_lan {
    background-color: #ffffff;
    text-align: center;
    padding-left: 2px 2px 2px 2px;
    border: inset #000000;
    border-radius: 50px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

div.div_wan {
    background-color: #ffffff;
    text-align: center;
    padding-left: 2px 2px 2px 2px;
    border: inset #000000; 
    border-radius: 50px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

