@charset "UTF-8";

body {
    background-color: rgb(96, 163, 202);
    color: rgba(0,0,0,2);
}

h1.h1_html {
    align-self: auto;
}

h1 {
    color: black;
    font-size: 20pt;
    align-items: center;
}

p {
    text-align: justify;
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}