@charset "UTF-8";

body {
    background-image: url(./img/plano_fundo.jpg);
    color: rgba(0,0,0,2);
}

h1.h1_html {
    align-self: auto;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 20pt;
    align-items: center;
}

p {
    color: aliceblue;
    text-align: justify;
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}